extends layout

block content
  +topnav
  
  #scenic_head(style='background:url(#{houseImgList[0].url}) no-repeat center;background-size:cover;')
    .cw1200
      a#botn.view_gallery(href='#')
        | 查看图库
        i.am-icon-chevron-circle-right
      ul.am-gallery.am-avg-sm-2.am-avg-md-3.am-avg-lg-4.am-gallery-default(style='display:none;', data-am-widget='gallery', data-am-gallery='{ pureview: true }')
        each houseImgItem in houseImgList
          li
            .am-gallery-item
              a(href= houseImgItem.url)
                img(src= houseImgItem.url)
                div(style='display:none;')
      script.
        $("#botn").live("click",function(){
          $(".am-gallery-item img").click();
        });
        $(document).ready(function(){
          $(".am-icon-chevron-left").attr("class", "am-icon-close");
        });
  #sub_from
    .cw1200
      .w810.fl
        .public_box.bg1
          .public_title
            .fl
              img(src='/main/images/from_title_left.png')
            .con
              .name 详情
            .fr
              img(src='/main/images/from_title_right.png')
            .clear
          #article
            .con
              p 类型：#{houseInfo.type==0?'出租':'出售'}
              p 户型：#{houseInfo.huxing}
              p 地段：#{houseInfo.diduan}
              p 朝向：#{houseInfo.chaoxiang}
              p 面积：#{houseInfo.mianji}
              - if (houseInfo.type == 0)
                p 租住类型：#{houseInfo.zuzhutype}
              p 房源简介：#{houseInfo.jieshao}
      .w380.fr
        .public_box.bg2
          .public_title
            .fl
              img(src='/main/images/from_title_left.png')
            .con
              .name 所属人信息
            .fr
              img(src='/main/images/from_title_right.png')
            .clear
          #online_book
            ul
              li
                | 所属人姓名：
                span #{houseInfo.name}
              li
                | 电话咨询：
                span #{houseInfo.phone}
              li
                | 价格：
                label ￥#{houseInfo.price}
            a.buy(href='javascript:;') 立即预订
      .clear
