- if (houseList.length > 0)
  ul
    each houseitem in houseList
      li
        .pic
          a(href='/detail')
            img.scale-effect(src= houseitem.url)
        .con
          p 地段：#{houseitem.diduan}
          p 户型：#{houseitem.huxing}
          p 价格：￥#{houseitem.price}
          - if (houseitem.type == 0)
            p 租住类型：#{houseitem.zuzhutype}
          p 朝向：#{houseitem.chaoxiang}
          p 面积：#{houseitem.mianji} 平方米
        a(href='/housedetail/' + houseitem.id)  
          .tip
            img(src='/main/images/scenic_ico.png')
            | 查看详情
        .clear
- else
  .no-datacon
    .no-data
      img(src='/public/img/no-data.png')
