- if (houseList.length > 0)
  .note_list
    ul
      each houseitem in houseList
        li.pd_r150
          .pic
            img(src= houseitem.url)
          .con
            a(href='/housedetail/' + houseitem.id)
              h3 查看详情 >>>
            .user
              span 类型：
                font #{houseitem.type==0?'出租':'出售'}
            .user
              span 户型：#{houseitem.huxing}
              label 地段：#{houseitem.diduan}
            .user
              span 朝向：#{houseitem.chaoxiang}
              label 面积：#{houseitem.mianji} 平方米
            .user
              - if (houseitem.type == 0)
                span 租住类型：#{houseitem.zuzhutype}
              label 价格：#{houseitem.price} 元
- else
  .no-datacon
    .no-data
      img(src='/public/img/no-data.png')
